.module .ta{
  height:100px;
}
.module .logWrap {
  width:20%;
}
.module .log {
  width:100%;
  background:#000;
  color:#fff;
  font-size:12px;
  padding:2px;
  height:100px;
  /* margin-top:5px; */
  box-sizing: border-box;
}
.module .pathWrap {
  /* margin-top: 5px; */
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.module .pathWrap .btn {
  margin-left: 5px;
}
.module .second .pathWrap {
  margin-left:0;
}
.module .second {
  margin-top:2px;
}
/* .moduleBlue {
  color:#103eb9;
  border:solid 1px #103eb9;
}
.moduleBlue .btn{
  color:#103eb9;
  border:solid 1px #103eb9;
  border-radius:2px;
}
.moduleBlue .ta {
  border-color:#103eb9;
  color:#103eb9;
}
.moduleBlue select, .moduleBlue select option {
  color:#103eb9;
  border-color:#103eb9;
  font-size:13px;
}
.moduleBlue .log {
  background-color: #103eb9;
  border-color:#103eb9;
} */