.invoice .ta, .download .ta {
  height:160px;
}
.invoice .logWrap, .download .logWrap {
  width:100%;
}
.invoice .log, .download .log {
  width:100%;
  background:#000;
  color:#fff;
  font-size:12px;
  padding:5px;
  height:100px;
  margin-top:5px;
  box-sizing: border-box;
}
.download .pathWrap {
  margin-top: 5px;
  display: flex;
}
.download .pathWrap .btn {
  margin-left: 5px;
}