.module .ta{
  height:140px;
}
.module .logWrap {
  width:100%;
}
.module .log {
  width:100%;
  background:#000;
  color:#fff;
  font-size:12px;
  padding:5px;
  height:100px;
  margin-top:5px;
  box-sizing: border-box;
}
.download .pathWrap, .login .pathWrap {
  margin-top: 5px;
  display: flex;
}
.download .pathWrap .btn, .login .pathWrap .btn {
  margin-left: 5px;
}