textarea {
  resize: none;
}
body {
  font-size:13px;
}
.module {
  border:solid 1px gray;
  margin-bottom:2px;
  padding:2px;
}
.module .title {
  display:flex;
  align-items: center;
}
.module .title .txt {
  font-weight: bold;
  font-size:14px;
}
.module .content {
  margin-top:2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.module .content .formItem {
  display:flex;
  align-items: center;
  width:25%;
}
.module .content .formItem.column {
  flex-direction: column;
  align-items: flex-start;
  width:20%;
}
.module .remark {
  /* margin-top:2px; */
}
.module .success {
  color:#52c41a;
}
.module .error {
  color:#ff4d4f;
}
.module .btn {
  font-size:13px;
  padding-top:0;
  padding-bottom:0;
}